[submodule "plugins/upload_pack"]
	path = plugins/upload_pack
	url = git://github.com/szajbus/uploadpack.git
[submodule "plugins/debug_kit"]
	path = plugins/debug_kit
	url = git://github.com/cakephp/debug_kit.git
[submodule "plugins/find"]
	path = plugins/find
	url = git://github.com/mcurry/find.git
[submodule "plugins/welcome"]
	path = plugins/welcome
	url = git@github.com:ProLoser/CakePHP-Welcome.git
