/********************************************************************
    File:   
        aboutCSS.css
    Brief:  
        Hold styles used in file about.html
    Author:
        DigitalCavalry
    Author URI:
        http://graphicriver.net/user/DigitalCavalry
*********************************************************************/

#aboutContentContainer
{
    width: 960px;
    margin-left: 40px;
    margin-top: 20px;
    padding-bottom: 20px;
}

#aboutContainer
{
    width: 600px;
    min-height: 500px;
    background-color: #fff;
    float: left;
    padding-bottom: 40px;
}

.aboutSectionLabel
{
    font: 11px Verdana;
    color: #000;
    padding: 5px;
    display:block;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}

.aboutImgPreviewTxtLabel
{
    text-align: center;
    font: 11px/14px Verdana;
}

.aboutCenterText
{
    text-align: center;
    font: 11px Verdana;
}

.aboutThumbsContainer
{
    height: 100px;
    width: 30px;
    margin-left: 0px;
}

.aboutThumb
{
    display:block;
    width:26px;
    height:26px;
    background-color:white;
    background-image: url('../img/common/ajax/loading2.gif');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    margin-left:5px;
    overflow: hidden;
    border: 1px solid #666;
    cursor:pointer;
    margin-bottom: 10px;
}

.aboutThumb:hover
{
    border: 1px solid #000;
}





