/********************************************************************
    File:   
        blogCSS.css
    Brief:  
        Hold styles used in file blog.html
    Author:
        DigitalCavalry
    Author URI:
        http://graphicriver.net/user/DigitalCavalry
*********************************************************************/


#blogContentContainer
{
  width: 960px;
  margin-left: 40px;
  margin-top: 20px;
}

#postsContainer
{
    border: 0px solid #0F0;
    margin-left: 0px;
    width:600px;
    margin-top: 0px;
    margin-left: 0px;
    padding-bottom:40px;
    float:left;
    
}

.postWraper
{
    margin-left: 0px; 
    background-color: #FFF; 
    margin-top:0px;
    margin-bottom: 40px; 
    width: 600px;
    border: 0px;
    padding-bottom: 20px;
    position:relative;
    border-bottom: 0px solid #DDD;
 }
 
 .postWraper  a
 {
    text-decoration: none;
 }

.postImage
{
   border: 0px dotted red;
   position: relative;
   display: block;
   width: 600px;
   height: 250px;
   margin-bottom: 5px;
   background-image: url('../img/common/ajax/loading3.gif');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-top: 0px solid #ccc;   
}

.postText
{
   font: 12px Verdana;
   padding-left: 0px;
   padding-right: 10px;
   margin-top:10px;
   line-height: 150%;
   color: #000;
}

.postThumb
{
    display:block;
    float:right;
    width:26px;
    height:26px;
    background-color: #fff;
    background-image: url('../img/common/ajax/loading2.gif');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    margin-left:5px;
    overflow: hidden;
    border: 1px solid #aaa;
    cursor:pointer;
}

.postThumb:hover
{
    border: 1px solid #222;
}

.postThumbsContainer
{
margin-top:0px; 
border: 0px solid blue;
min-height: 28px;
padding-left: 0px;
padding-right: 0px;

}

.postCommentsField
{
    margin-top:15px;
    margin-right:0px;
    text-align:center;
    height:30px;
    width:110px;
    float:left;
    background-color:transparent;
    font:10px/20px Verdana;
    color:#000;
    background-image:url('../img/common/img/commentsFieldWhiteRight.png');
    background-repeat: no-repeat;
    background-position: 0px 0px;                        
}

