/********************************************************************
    File:   
        classicGalleryCSS.css
    Brief:  
        Hold styles used in file classicGallery.html
    Author:
        DigitalCavalry
    Author URI:
        http://graphicriver.net/user/DigitalCavalry
*********************************************************************/

.galleryHeaderContainer
{
    margin-left: 40px;
    width: 960px;
    text-align: left;
    padding-top: 20px;
}

/* PAGE/IMAGE STATISTICS */

.galleryStatisticsContainer
{
    height:20px;
    border:0px solid red;
}

.galleryStatisticsContainer .pageStatsWrapper
{
    float:left;
}

.galleryStatisticsContainer .imageStatsWrapper
{
    float:right;
}

.galleryStatisticsContainer #hoveredImageIndex
{
    color:#bbb;
    font:12px Verdana;
}

.galleryStatisticsContainer #numberOfImages
{
    color:#aaa;
    font:16px Verdana;
}

.galleryStatisticsContainer #pageNumber
{
   color: #bbb;
   font: 12px Verdana;
}

.galleryStatisticsContainer #pageCount
{
   color: #aaa;
   font: 16px Verdana;
}  

/* GALLERY PAGES */

#galleryContainer
{
    width: 960px;
    height: 620px;
    margin-bottom : 0px;
    margin-left: 40px;
    margin-top: 10px;
    border: 0px solid #ddd;
    overflow: hidden;
    position: relative;     
}

.galleryPage
{
    width: 960px;
    border: 0px solid red;
    position: absolute;
    background-color: #FFF;
    border-bottom: 0px solid #777;
    left: 0px;
    top: 0px;
    height:620px;
    overflow: hidden;
}

.galleryRow
{
    height: 190px;
    background-color:transparent;
    margin-bottom: 15px;
    width: 960px;
} 

.galleryThumbWrapper
{
    background-color: #fff;
    float: left;
    height: 180px;
    padding-top: 15px;
    padding-left:34px;
    padding-right:34px;
    width:252px;
    background-repeat: no-repeat;
    background-position: 50% 0%;      
}

.galleryThumbTitle
{

   font: normal 12px "Trebuchet MS", Arial, Helvetica, sans-serif; 
   color: #65B31C;
   padding-left: 0px;
   padding-top: 0px;
   margin-top: 0px;
}

.galleryThumbDesc
{
    color: #666;
    font: 10px Verdana;
    padding-left: 0px;
    margin-top: 0px;
    padding-right: 0px;    
}

.galleryThumb
{
    width: 244px;
    height: 116px; 
    padding: 3px; 
    margin: 0px;
    
    cursor: pointer; 
    border: 1px solid #ddd;
    background-color: #FFF;
    
    background-image: url('../img/common/ajax/loading1.gif');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    position: relative;
    display: block;
        
}

.galleryThumb .link
{
   position: absolute;
   display: block;
   width:244px;
   height:116px;
   background-color:transparent; 
   left: 3px;
   top: 3px;
   z-index: 2;
}

.galleryThumbShadow
{
    padding: 0px;
    margin: 0px;
    width: 252px;
    height: 12px;
    background-image: url('../img/gallery/classic/pictureShadow.jpg');
    background-repeat: no-repeat;
    background-position: 50% 0%;
}



#galleryPrevPagePanelBtn
{
    width: 30px;
    height: 640px;
    position: absolute;
    background-color:transparent;
    left: 0px;
    top:0px;
    cursor:pointer;
}



#galleryNextPagePanelBtn
{
    width: 30px;
    height: 640px;
    position: absolute;
    background-color:transparent;
    left: 930px;
    top:0px;
    cursor:pointer;
}



#galleryControlPanel
{
    width: 960px;
    margin-left: 40px;
    height: 37px;
    border: 0px solid red;
    margin-top: 10px;
    text-align: center;
    position: relative;
}


#galleryPrevPageBtn
{
    width: 144px;
    height: 37px;
    
    cursor: pointer;
    position: absolute;
    left:0px;
    top:0px;
    
    width: 144px;
    height: 29px;
    background-color: #FFF;
    border: 1px solid #ddd;
    color: #000;
    font-family: Tahoma;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    padding-top: 8px;
    text-decoration: none;    
}
  
#galleryPrevPageBtn:hover
{
    background-color: #000;
    border: 1px solid #000; 
    color: #FFF;
}

#galleryNextPageBtn
{
    width: 144px;
    height: 37px;
    
    cursor: pointer;
    position: absolute;
    right:0px;
    top:0px;    

    
    width: 144px;
    height: 29px;
    background-color: #FFF;
    border: 1px solid #ddd;
    color: #000;
    font-family: Tahoma;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    padding-top: 8px;
    text-decoration: none;    
}

#galleryNextPageBtn:hover
{
    background-color: #000;
    border: 1px solid #000; 
    color: #FFF;
}


/* OTHER GALLERY LIST */

#galleryContentContainer
{
  width: 960px;
  margin-left: 40px;
  margin-top: 30px;
  padding-bottom: 40px;
}

.galleryOtherHeader
{
    font: normal 42px "Trebuchet MS", Arial, Helvetica, sans-serif;
    color: #65B31C;
    margin-left: 0px;
    margin-bottom: 20px;
}

.galleryListContainer
{
    margin-top:0px;
    width: 600px;
    margin-left: 0px;
    margin-bottom: 0px;
    padding-bottom:40px;
    border: 0px solid #aaa;
    float:left;
}
    

.galleryListItemContainer
{
    width: 600px;
    margin-bottom: 50px;
}
    
p.galleryListItemDesc
{   
    margin-top: 10px;
    padding-left: 0px;
    padding-right: 10px;
    font: 12px Verdana;
    line-height: 150%;
    color: #000;
}
        
.galleryListItemImage
{
    height: 120px;
    border: 0px solid #aaa;
    background-color: #FFF;
        
    background-image: url('../img/common/ajax/loading3.gif');
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

