/************
 DESTINATION
************/
.previewList {
	margin: 0px;
	padding: 0px;
}

.previewList li
{
    border-bottom: 1px solid #ECECEC;
    height: 110px;
    margin: 0px;
	padding: 0px;
    cursor: pointer;
	width: 600px;
	list-style-type: none;
}

.previewList li:hover
{
    background: transparent url('../img/listitemhover-bg.png') left repeat-x;
}

.previewList li img
{
    float: left;
	margin: 7px 10px 0 10px;
	height: 90px;
    width: 90px;
    padding:2px;
    border: 1px solid #eee;
    background-color: #FFF;
}

.previewList li h4
{
   font: normal 18px "Trebuchet MS", Arial, Helvetica, sans-serif;
   margin: 0 0 5px 0;
   padding: 7px 0 0 0;
   color: #424914;
}

.previewList li p
{
    font: 11px Verdana;
    color: #000;
    margin-top: 0px;
}
