/* Forms */
form {
	margin: 0 auto;
	font-size: 12px;
}
fieldset {
  border: 1px #BCBCBC dotted;
  padding: 10px;   
  margin: 0;
} 
fieldset legend {
	font-size:11px; 
	padding: 0 5px 0 5px;
}
form div.input {
	overflow: auto;
}
label {
	display: block; 
	float: left; 
	width: 120px; 
	padding: 2px; 
	margin: 6px 0 6px 0; 
	text-align: right; 
	color: #666;
}
input, textarea, select {
	margin: 5px 8px 5px 8px;
	border: 1px #A6C460 dotted;
	padding: 2px;
	width: 80%;
	background: #ECF5D6;
}
input[type=checkbox] {
	width: auto;
}
textarea {
	height: 400px;
}
form select {
	margin: 5px 0 5px 8px;
	border: 1px #A6C460 dotted;
	padding: 2px;
	background: #ECF5D6;
}
form .submit {
	margin: 10px 0 0 120px;	
	width: 200px;
}
.error-message {
	color: #ff0000;
	font-size: 90%;
	margin: -4px 0 10px 115px;
}