/* Forms */
form {
	margin: 0 auto;
	width: 500px;
	font-size: 12px;
}
fieldset {
  border: 1px #BCBCBC dotted;
  padding: 10px;   
  margin: 0;
} 
fieldset legend {
	font-size:11px; 
	padding: 0 5px 0 5px;
}
form div.input {
	overflow: auto;
}
label {
	display: block; 
	float: left; 
	width: 100px; 
	padding: 3px; 
	margin: 5px 0 5px 0; 
	text-align: right; 
	color: #666;
}
input, textarea, select {
	width: auto;     
	margin: 5px 0 5px 8px;
	border: 1px #A6C460 dotted;
	padding: 3px;
	background: #ECF5D6;
}
textarea {
	overflow: auto;	
}
form .submit {
	margin: 10px 0 0 120px;	
}