@charset "utf-8";
/*************
 COMMON PAGE ELEMENTS
*************/

* { margin: 0; padding: 0; }
.clearfix { overflow: auto; }
.clear { clear: both; }
.left { float: left; }
.right { float: right; }
img.left {margin-right: 10px }
img.right {margin-left: 10px }
body {
	background: #30380f url(../img/body-bg.jpg) top center no-repeat;
	font-family: Verdana, Trebuchet MS, Arial, sans-serif;
	font-size: 11px;
}
a {
	color: #585858;
	text-decoration: none;
}
a:hover {
	color: #7E7E7E;	
}

p.about {
	padding-bottom: 15px;
	}

#container { 
	width: 1035px;
	margin: 20px auto;
	padding: 0;
	background: #fff url(../img/other-bg.png) top repeat-x;
}

/*** HEADER ***/
#header {
	/* an idea I had to display the current localization */
	background: url(../img/flag.png) no-repeat 600px 10px;
	overflow: auto;
}
#header h2 {
	/* title goes in here */
	text-indent: -5000px;
	background: transparent url(../img/logo2.png) top left no-repeat ;
	margin: 22px 0px 0px 5px;
	width: 366px;
	height: 63px;
	float: left;
}
#header ul {
	float: right;
}
#header ul li {
	list-style: none;
	position: relative;
	float: left;
}
#header ul li a {
	text-decoration: none;
	display: block;
	/* as a test to make text stand out above the flag */
	text-shadow: #000 0 1px 1px;
}
#header #globalnav {
	font-size: 12px;
	margin: 20px 43px 0 0;
	padding: 0;
	color: #C3C3C3;
}
#header #globalnav a {
	color: #D1DFA8;
	margin: 10px;
	padding: 0;
}
#header #globalnav a:hover {
	color: #fff;
	border-bottom: 1px #fff dotted;
	/* compensates for the extra pixel height added by the border */
	margin-bottom: 9px;
}
#header #globalnav form {
	/* search form */
	color: #EBEBEB;
	font-size: 11px;
	margin: 0;
	padding: 0;
	width: auto;
	float: right;
}
#header #globalnav form input {
	padding: 1px 0 1px 0;	
}
#header ul#nav {
	font-size: 13px;
	margin: 15px 30px 0 0;
	z-index: 100;
}
#header ul#nav li a {
	color: #E5E5E5;
	padding: 5px 15px;
}
#header ul#nav li a:hover {
	text-shadow: #719954 0 1px 1px;
	color: #fff;
	background: #292F17;
}
#header ul#nav li:hover {
	background: #292F17;
}
#header ul#nav li ul {
	border-bottom: 10px solid #D3D7B0;
	display: none;
	background: #292F17;
	width: 170px;
	position: absolute;
	top: 100%;
	margin: 0;
}
#header ul#nav li:hover ul {
	display: block;
}
#header ul#nav li ul li {
	float: none;
	border-bottom: 1px #596438 dotted;
}
#header ul#nav li:hover ul li a:hover {
	background: #363d1f;	
}

/*** BODY ***/
#body {
	height: 100%;
	padding: 0 0 30px 0;
	overflow : hidden; /* For modern browsers and IE7 */
  	display  : inline-block; /* For IE6 */
}
#body { display : block; } /* For IE6 */
#body:after { /* For modern browsers */
  content    : ".";
  display    : block;
  height     : 0;
  clear      : both;
  visibility : hidden;
}

/*** SIDEBAR ***/
#sidebar {
	float: right;
	width: 310px;
	margin: 40px 10px 0px 0px;
}
#sidebar h3 {
	/* heading for each navigation list*/
	font-size: 16px;
	font-weight: normal;
	color: #4D4D4D;
	margin: 25px 0px 10px 30px;
}
#sidebar img {
	padding:5px;
	margin:12px 5px 10px 35px;
	background:#d1d1d1;
	border:1px solid #B9B9B9; 
	width:230px;
}
#sidebar img:hover {
	background:#d1d1d1;
	border:1px solid #484848; 
	width:230px;
}
#sidebar ul {
	/* navigation on the side */
	margin: 0px 40px 20px 30px;
	line-height: 30px;
	list-style-type: none;
}
#sidebar ul li {
	border-bottom: 1px #909090 dotted;
	display: block;
}
#sidebar ul li a {
	text-indent: 10px;
	color: #757575;
	text-decoration: none;
	display: block;
}
#sidebar ul li a:hover {
	color: #353535;
	text-decoration: none;
	display: block;
	background: #F3F3F3;
}


/*** MAIN CONTENT ***/
#content {
	margin: 30px 340px 20px 40px;
}
h1 {
	/* title of the individual page */	
	font-size: 22px;
	color: #9F9F9F;
	font-weight: normal;
	padding-bottom: 10px;
	margin-bottom: 20px;
	border-bottom: 1px dotted #ccc;
}
h2 {
	font-size: 20px;
	color: #313131;
	margin: 15px 0 10px 0;
}
h3 {
	font-size: 18px;
	margin: 20px 0 25px 0;
	color: #313131;
}
h4 {
	font-size: 14px;
	color: #6C6C6C;
	margin: 10px 0 10px 0;
}
h5 {
	font-size: 12px;
	color: #6C6C6C;
	margin: 10px 0 10px 0;
}
ul {
	margin: 0 0 0 25px;
	line-height: 17px;
}
ol {
	margin: 0 0 0 25px;
	line-height: 17px;
}
hr {
	background-color: #667436; 	
	color: #667436; 
}
.readmore {
	color: #7A9746;
	background: transparent url(../img/readmore-arrow.png) bottom right no-repeat;
	padding: 0 12px 0 0;
}

.readmore:hover {
	color: #A5BB59;	
	border-bottom: 1px dotted #7A8745;
}

/*** FULL WIDTH CONTENTS ***/
#fullwidth-content {
	margin: 50px 40px 20px 40px;
} 

/*** FOOTER **/
#footer {
	background: #1f240a url(../img/footer/bg-footer.jpg) top center no-repeat;
}
#footer h6 {
	font-size: 18px;  
	margin:0 0 14px 0; 
	color: #EFEFEF;	
	font-weight: normal;
}
#footer p {
	font-size: 10px; 
	line-height: 18px;
	color:#7d7d7d;
	margin: 5px 0 0 0;
}
.footerminibox {
	width:290px;
	float:left;
	margin: 30px 10px 30px 40px;
}
.footerposts { 
	list-style:none; 
	font-size:10px; 
	color:#7d7d7d; 
	padding:0;
	margin:0; 
}
.footerposts li { 
	font-size:10px; 
	line-height:30px; 
	color:#7d7d7d; 
	border-bottom:1px dotted #2E2E2E; 
	display: block;
}
.footerposts li a { 
	font-size:10px; 
	color:#7d7d7d;
	text-decoration: none;
	display: block;
}
.footerposts li a:hover { 
	color:#fff; 
	text-decoration:none;
	display: block;
}
.footermedia { 
	width: 270px;
	font-size:12px;
	line-height:18px; 
	list-style:none; 
	color:#7d7d7d; 
	padding:0;
	margin:0; 
}
.footermedia li { 
	color:#7d7d7d; 
	border-bottom:1px dotted #2E2E2E; 
	margin: 0;
	padding: 0;
	line-height: 44px;
	display: block;
}
.footermedia li a { 
	font-size: 14px;
	color:#7d7d7d; 
	margin: 0;
	padding: 0;
	vertical-align:middle; 
	text-decoration: none;
	display: block;
}
.footermedia li a:hover { 
	font-size:14px; 
	color:#fff;
	text-decoration:none;
	display: block;
}
.footermedia a img {
	width: 40px; 
	margin: 0;
	padding: 0;
	vertical-align: middle;
	margin: 0 10px 0 0px;
}
#footerbarwrap {
	padding: 15px 0 15px 35px;
	margin: 0;
	line-height:15px;
	list-style:none;
	background:#070F04;
	color:#565656; 
	font-size:10px;
}
#footerbarwrap li a {
	color:#fff;
	text-decoration: none;
}
#footerbarwrap li a:hover {
	color: #C0C0C0;
	text-decoration: none;
}