/********************************************************************
    File:   
        portfolioPageCSS.css
    Brief:  
        Hold styles used in file portfolioPage.html
    Author:
        DigitalCavalry
    Author URI:
        http://graphicriver.net/user/DigitalCavalry
*********************************************************************/

#portfolioPageContentContainer
{
    width: 960px;
    margin-left: 40px;
    margin-top: 20px;
    padding-bottom: 20px;
}
    
#portfolioPageContainer
{
    width:600px;
    float:left;
    min-height: 500px;
    background-color: #fff;
    padding-bottom: 60px;
}    

.portfolioPageWrapper
{
    margin-top:15px;
}

.portfolioPageImage
{
   border: 0px dotted red;
   position: relative;
   width: 600px;
   height: 250px;
   margin-bottom: 5px;
   background-image: url('../img/common/ajax/loading3.gif');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-top: 0px solid #ccc;
    background-color: #FFF;   
}

.portfolioPageImgSeparator
{
  float:left;
  margin-right: 10px;
  position: relative;
  top:6px;
  width:4px;
  height:4px;
  background-image: url('../img/common/squere/4x4gray.gif');
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.portfolioPageCommentsField
{
    margin-top: 15px;
    margin-bottom: 5px;
    margin-right:0px;
    text-align:center;
    height:30px;
    width:110px;
    float:left;
    background-color:transparent;
    font:10px/20px Verdana;
    color:#000;
    background-image:url('../img/common/img/commentsFieldWhiteRight.png');
    background-repeat: no-repeat;
    background-position: 0px 0px;                        
}

.portfolioPageText
{
   font: 12px/16px Verdana;
   margin-top:10px;
   line-height: 150%;
   color: #000;
}

.portfolioPageText p 
{
    text-indent: 20px;
}


