/*********
 SELECTOR
 *********/
 
#world_map { 
	background: url(../img/selector/world_map.jpg) top left no-repeat;
	width: 975px;
	height: 467px;
	margin: 0 auto;
	padding: 0;
	position: relative;
	left: -30px;
	z-index: 1;
}

#world_map li {
	display: block;
	list-style-type: none;
}

#world_map li a {
	display: block;
	text-decoration: none;
	font-size: 140%;
	color: #E4F4C4;
	text-transform: uppercase;
}

#world_map li a:hover {
	text-decoration: none;
	color: #303A18;
}

#loc_can {
	width: 243px;
	height: 97px;
	position: relative;
	left: 85px;
	top: 7px;
	z-index: 120;
}

#world_map #loc_can a {
	width: 243px;
	height: 97px;
	line-height: 138px;
	text-indent: 35px;
	z-index: 124;
}

#world_map #loc_can a:hover { 
	width: 243px;
	height: 125px;
	background-image: url(../img/selector/can_hover.jpg); 
	background-repeat: no-repeat;
	background-position: 0;
	z-index: 126;
}

#loc_usa {
	width: 256px;
	height: 163px;
	position: absolute;
	left: 6px;
	top: 30px;
	z-index: 104;
}

#loc_usa:hover {
	width: 256px;
	height: 163px;
	z-index: 105;
}

#loc_usa a {
	width: 256px;
	height: 163px;
	line-height: 232px;
	text-indent: 85px;
	z-index: 106;
}

#loc_usa a:hover { 
	background-image: url(../img/selector/usa_hover.jpg); 
	background-repeat: no-repeat;
	background-position: 0;
	z-index: 304;
}

#loc_uk {
	width: 52px;
	height: 29px;
	position: absolute;
	left: 392px;
	top: 80px;
	z-index: 142;
}

#world_map #loc_uk a {
	width: 52px;
	height: 29px;
	line-height: 27px;
	text-indent: 0px;
	color: #45521D;
	z-index: 144;
}

#world_map #loc_uk a:hover { 
	background-image: url(../img/selector/uk_hover.jpg); 
	background-repeat: no-repeat;
	background-position: 23px 0;
	color: #82933C;
	z-index: 146;
}

#loc_eu {
	width: 182px;
	height: 116px;
	position: absolute;
	left: 413px;
	top: 42px;
	z-index: 130;
}

#loc_eu a {
	width: 182px;
	height: 116px;
	line-height: 95px;
	text-indent: 95px;
	color: #45521D;
	z-index: 132;
}

#loc_eu a:hover { 
	background-image: url(../img/selector/eu_hover.jpg); 
	background-repeat: no-repeat;
	background-position: 0 0;
	z-index: 134;
}

#loc_aus {
	width: 130px;
	height: 113px;
	position: absolute;
	left: 768px;
	top: 303px;
}

#loc_aus a {
	width: 130px;
	height: 113px;
	line-height: 95px;
	text-indent: 21px;
	color: #45521D;
}

#loc_aus a:hover { 
	background-image: url(../img/selector/aus_hover.jpg); 
	background-repeat: no-repeat;
	background-position: 0 0;
}

#loc_nz {
	width: 100px;
	height: 80px;
	position: absolute;
	left: 904px;
	top: 352px;
}

#world_map #loc_nz a {
	width: 100px;
	height: 80px;
	line-height: 14px;
	text-indent: 0px;
	color: #45521D;
}

#world_map #loc_nz a:hover { 
	background-image: url(../img/selector/nz_hover.jpg); 
	background-repeat: no-repeat;
	background-position: 0 31px;
	color: #82933C;
}