/*** SLIDESHOW ***/
#js-slideshow
{
    width:600px;  
    height:440px;
    background-color: transparent;
    margin: 0 0 15px 3px;
    position: relative;
    border: 0px solid #ddd;
    overflow: hidden;
}

#js-slideshow .slide
{
    width:600px; 
    height:350px;
    position: absolute;
    left: 0px;
    top: 0px;
    display: block;
    
    background-color: transparent;    
    background-image: url('../img/common/ajax/loading6.gif');
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

#js-slideshow .btnContainer
{
    height: 20px;
    width: 160px;
    position: relative;
    left: 0px;
    top: 332px;
    z-index: 10;
}

#js-slideshow .btn
{
    width:18px;
    height:18px;
    border:0px solid #222;
    background-color: #45471F;
    color: #ccc;
    font: 10px/18px sans-serif;
    float:left;
    text-align: center;
    cursor: pointer;
    margin-right: 2px;
}

#js-slideshow .desc
{
    width: 590px;
    padding-left: 5px 25px 7px 0px;
    /*background-color: #45471F;*/
	background-color: transparent;
    opacity: 0.90;
    filter:alpha(opacity=90); /* IE */  
    position: absolute;
    left: 0px;
    top: 358px;
    z-index: 10;
    /*color: #eee;*/
	color: #000;
    font-size: 100%;
    display: block;
}