/***************
 ADVENTURE
 ***************/
 
/* Main Splash Page */

#content .about {
	font-size: 14px;
	color: #3A3A3A;
	margin: 0 0 15px 0;
	line-height: 20px;
}
#adv_vol {float:left;}
#adv_adv {float:right; margin: 0 0 15px 0;}
#adv_vol p {font-size: 12px; line-height:20px; color:#646464;}
#adv_adv p {font-size: 12px; line-height:20px; color:#646464;}
#adv_vol #adv_main_img_vol {float:right; margin:1px 0px 7px 9px; vertical-align: text-top; width: 200px;}
#adv_adv #adv_main_img_adv {float:left; margin:1px 9px 7px 0px; vertical-align: text-top; width: 200px;}

#content .minishowcasewrap { width:600px; float:left; margin:5px 0 0 0; padding:0; }
#content ul.minishowcase { list-style:none; margin:0;padding:0; }
#content .minishowcase li { float:left; padding:5px;margin:0 5px 10px 5px;background:#d1d1d1;border:1px solid #B9B9B9;}
#content .minishowcase li:hover { background:#d1d1d1;border:1px solid #484848;}

/*** EXCURSION ***/
.excursionWrapper
{
    border-bottom: 1px solid #ECECEC;
    height: 110px;
    margin: 0px;
    cursor:pointer;
	width: 600px;
}

.excursionWrapper:hover
{
    background: transparent url('../img/listitemhover-bg.png') left repeat-x;
}

.excursionWrapper .imageWrapper
{
    float:left;
    padding-left: 10px;
    width: 106px;
    height: 96px;
    margin-top: 7px;
}

.excursionWrapper .imageWrapper img
{
    height:90px;
    width:90px;
    padding:2px;
    border:1px solid #eee;
    background-color: #FFF;
}

.excursionWrapper .itemDesc
{
    height:96px;
    margin-top:7px;
    width: 480px;
    float:left;
    background-color:transparent;
    overflow: hidden;
}

#content .excursionWrapper .itemDesc h4.excur_title
{
   font: normal 18px "Trebuchet MS", Arial, Helvetica, sans-serif;
   margin: 5px 0 5px 0;
   padding: 0;
   color: #424914;
}

.excursionWrapper .itemDesc .excur_text
{
    font: 11px Verdana;
    color: #000;
    margin-top: 0px;
}